body {
        font-family: Arial, Helvetica, sans-serif;
}

.heading {
        justify-content: center;
        display:flex;
}


.vertical {
        writing-mode: vertical-rl;
        font-family: "Noto Sans SC", serif;

}